 .divForm{
    text-align: center;
    width: 30%;
    margin-left: 35%;
    padding: 1%;
    margin-top: 10%;
}

.divForm > img{
    margin-left: -20%;
}

.form{
    display: flex;
    flex-direction: row;
}

.formDiv{
    width: 75%;
    display: flex;
    flex-direction: column;
}

.formDiv > *{
    margin-top: 2%;
}

.formDiv > button {
    border:1px solid teal;
    background-color: white;
    color: teal;
    font-size: large;
    font-weight: bolder;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
}

.formDiv > button:hover, .fixed > button:hover{
    background-color: teal;
    color: white;
}

.buttons{
    width: 20%;
    text-align: left; 
}

.login{
    background-color: white;
    color: rgb(216, 100, 120);
    margin-top: 10%;
    padding: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    font-weight: bolder;
    font-size: 20px;
    margin-left: 8%;
    border: 1px solid rgb(216, 100, 120);
}

.login:hover, .regis:hover{
    background-color: rgb(216, 100, 120);
    color: white;
}

.regis{
    background-color: white;
    color: rgb(216, 100, 120);
    margin-top: 15%;
    padding: 10%;
    padding-top: 30%;
    padding-bottom:30%;
    font-weight: bolder;
    margin-left: 8%;
    border: 1px solid rgb(216, 100, 120);
}

.fixed{
    position: fixed;
    right: 5%;
    top: 10%;
}

.fixed > button{
    border:1px solid teal;
    background-color: white;
    color: teal;
    font-size: large;
    font-weight: bolder;
    padding: 5%;
    padding-left: 60%;
    padding-right: 60%;
    border-radius: 20px;
}

input:hover{
    background-color: whitesmoke;
    padding: 2%;
    border: 1px solid whitesmoke;
}

.userCard{
    width: 30%;
    margin-left: 33%;
    display: flex;
    margin-top: 8%;
    flex-direction: row;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 2%;
    color: teal;
    box-shadow: 20px;
}

.userCard > div:nth-child(2){
    margin-left: 5%;
}

.profile{
    width:100px; 
    height:100px;
    margin-top: 25%
}

.hr{
    margin-top: 4%;
    margin-bottom: 4%;
}

.text{
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 12%;
}

.flex > div:nth-child(1){
    width: 30%;
}

.dogInfo{
    width: 70%;
}

.dogInfo > h2{
    margin-bottom: 0%;
}

.dogInfo > small{
    margin-top: 0%;
}

.dogImg{
    width: 300px;
    height: 300px;
    border-radius:150px ;
}

.dogInfo > p > span{
    font-size: 20px;
    font-weight: bolder;
}

.dogInfo > button{
    background-color: white;
    border: 1px solid rgb(4, 4, 88);
    color: rgb(4, 4, 88);
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
    margin-left: 40%;
    border-radius: 20px;
    font-weight: bolder;
}

.dogInfo > button:hover{
    color: white;
    background-color: rgb(4, 4, 88);
}

.dogInfo > span{
    font-weight: bolder;
    font-size: 25px;
}

.dogInfo > em{
    font-weight: bolder;
    font-size: 30px;
    color: rgb(4, 4, 88);
}

.dogInfo > em:hover{
    font-size: 40px;
    color: red;
}