.marginTop{
    margin-top: 5%;
    text-align: center;
}
.div{
    float: left;
    width: 20%;
    margin-left: 4%;
    margin-bottom: 2%;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
}

.img{
    width: 300px;
    height: 300px;
}

.dogname{
    color: teal;
}

.more{
    background-color: whitesmoke;
    border: 1px solid teal;
    color: teal;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bolder;
    border-radius: 20px;
}

.more:hover{
    background-color: teal;
    color: white;
}