.marginTop{
    margin-top: 5%;
    text-align: center;
}
.div{
    float: left;
    width: 20%;
    margin-left: 4%;
    margin-bottom: 2%;
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
}

.img{
    width: 300px;
    height: 300px;
}

.dogname{
    color: teal;
}

.more{
    background-color: whitesmoke;
    border: 1px solid teal;
    color: teal;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bolder;
    border-radius: 20px;
}
form{
    padding:10px;
    text-align:center
    
}
label{
    display:block;
    margin:5px;
    font-size:24px;
    
}
.btn{
    text-align:center;
    padding:10px;
    margin-left:5px; 
    
}
button{
    background-color: burlywood;
    padding:15px;
    width:150px
}
input:hover{
    background-color:gainsboro
}
input[type= submit]{
    padding:10px;
    width:250px;
    background-color: lightseagreen;
    text-align:center;
    margin:10px
 
}
.login_box{
    border:1px solid grey;
    width:30%;
    height:100%;
    text-align:center;
    margin-left:30%;
    margin-top:10%
}

