.div_box{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-left:80px;
   
  
}
.box{
    margin:15px

}

img{
   
    width:250px;
    height:250px;
    margin:2%;
    border-radius:150px

}
button{
    color:blue;
    float:right;
    font-size:12px;
    border:0
   
}
h4{
    color:#2c3e50
}

*{
    background-color: beige;
}