.page{
    float: left;
    width: 20%;
    margin-bottom: 3%;
    margin-left: 4.5%;
}

.imgDog{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.center{
    text-align: center;
}

.btns{
    text-align: center;
}

.btns > button {
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border: 1px solid teal;
    color: teal;
    font-weight: bolder;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 30px;
}

.btns > button:hover{
    background-color: teal;
    color: white;
}