.payment{
    display:flex;
    flex-direction:row;
    width:80%;
    margin-left:10%;
    text-align:center;
    margin-top: 2%;
    background-color: whitesmoke;
    padding-bottom: 3%;
    padding-top: 3%;
}

.pay{
    margin-left: 43%;
    margin-top: 6%;
    color: green;
}

.paymentForm{
    display: flex;
    flex-direction: column;
}

.paymentForm > *{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
}

.payButton{
    background-color: white;
    color: green;
    border: 1px solid green;
    padding: 1%;
    border-radius: 20px;
    font-weight: bolder;
}

.payButton:hover{
    background-color: green;
    color: white;
}

.cancel{
    background-color: white;
    color: red;
    border: 1px solid red;
    padding: 1%;
    border-radius: 20px;
    font-weight: bolder;
}

.cancel:hover{
    background-color: red;
    color: white;
}